
.avatar{
	padding: 10px;
	margin: 10px auto;
	text-align: center;
}

.dataTables_wrapper {
	padding: 10px;
}

a.btn {
	margin:auto 2px ;
}

.botonera{
	margin:0px 40px;
	position: absolute;
	left: 80%;
	bottom: 5%;
}

.botonera.delete{
		margin:0px 80px;
}
.figure-img{
	height: 200px;
} 
/*table#example{
	width: 100px;
}
*/
@media (min-width: 768px){
	.navbar-right {
	    float: right!important;
	    margin-right: -0px;
	}	
}

@media only screen and (max-width: 480px) {
	.botonera{
		left: 50%;
	}
	table.dataTable thead th, table.dataTable thead td{
		padding: 10px 15px;
	}
}